body{
  background-image: linear-gradient(to right, #180377, #b44188);  
 
}

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

#heading {
  /* margin-bottom: 25px; */
  padding: 15px;
}

 .dropdown-item {
   color : rgb(0, 0, 0);
  /* color: black; */
} 

.sbtn{
  background-color: white;
  color: black;
}


.dropdown-menu{
    background: white;
}

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-image: linear-gradient(to right, #b3ff00, #d6d185);
  height:100%
   
} 

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
 
 
 
  position: fixed;
}

.wrapper .sidebar h2 {
   color:black; 

  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  /* border-bottom: 1px solid #bdb8d7; */
  border-bottom: 1px solid #329cda57;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: black;

}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}




.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
  
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}
.Head
{
  color:rgb(224, 238, 245);
}
.navbar
{
  background-image: linear-gradient(to right, #180377, #b44188);  
 
}

