
<body>
<nav class="navbar justify-content-between">
  <a routerLink="/home"><h1 style="cursor: pointer; color:white;"class="head">ViewTube </h1></a>
  <a href="/home"><h4 style="color:aliceblue">Home</h4></a>
  <a routerLink="/favourite" style="cursor: pointer" name="Favourites" >
    <!-- <a (click)="getFavourites()" style="cursor: pointer" name="Favourites" > -->
      <h4 style="color:aliceblue">My Favourites &hearts;</h4>
   
    </a>
  <form class="form-inline">
    <button type="button" style="width: 75px;" class="btn btn-danger" (click)="onLogout()">Logout</button>
   
  </form>
</nav>
<div class="wrapper">
  <!-- <app-side-bar></app-side-bar> -->
  

    <div class="main_content">
        <div class="v-player">
<youtube-player 
  videoId="{{videoId}}" 
  suggestedQuality="highres" 
  [height]="400" 
  [width]="800" >
</youtube-player>
        </div>
    </div>
  </div>
</body>
